$primary_color:#0099cc;
$success_color:#5cb85c;
$info_color:#5bc0de;
$danger_color:#d9534f;
$warn_color:#f0ad4e;

a:hover{
  text-decoration: none;
}

#header{
  position: fixed;
  left: 0;
  top:0;
  height:auto;
  overflow: hidden;
  width:100%;
  background: #fff;
  border-bottom:1px solid #ddd;
  z-index:2;
}
#content{
  position: fixed;
  //  top:0px; //通过js计算
//  bottom:150px; //通过js计算
  left:0;
  right:0;
  overflow: auto;
}
#bottom{
  position: fixed;
  left:0;
  right:0;
  bottom:0;
  height: 120px;
  border-top:1px solid #ddd;
//  background: #f8f8f8;
  background: #fff;
  z-index: 1000;
  padding: 5px 0 0 0;
}
.nav-small{
  line-height: 12px;
  margin-bottom: 8px;
  li>a{
    padding:5px 15px;
  }
}

.no-bold{
  font-weight: normal;
}

table{
  tr.no-border{
    border:none;
    td,
    th{
      border-bottom:none;
      border-top:none;
    }
  }
}
.navbar {
  margin-bottom: 8px;
}
.function-area{
  margin-bottom:8px;
}

#return-btn{
  position: absolute;
  right:5px;
  top:0;
  z-index: 3001;
  a{
    height: 20px;
    float: left;
    display: block;
  }
  .refresh{
    width:20px;
    background: url("../../images/refresh.png");
    margin-left: 20px;
  }
}
#popdown {
  padding: 40px 20px 6px;
  float: left;
  position: fixed;
  font-size: 16px;
  color: #FFFFFF;
  top: -100px;
  left: 50%;
  margin-left: -50px;
  border-radius: 5px;
  //  background: #ff8d1d;
  z-index: 9999;
}

.validate_error{
  color:red;
  font-weight: normal;
}
/*表单提交后的遮蔽层*/
#mask {
  background-color: rgba(0, 0, 0, 0.60);
  position:fixed;
  width: 100%;
  height: 100%;
  top:0px;
  left:0px;
  z-index: 2000;
  opacity: 0.6;
  filter: Alpha(Opacity=60);
  .loading_icon{
    position: absolute;
    width:40px;
    height: 40px;
    background-image: url("../../images/load.gif");
    background-size:40px 40px;
    background-repeat:no-repeat;;
  }
}